.About {
   
    h1 {
        text-align: center;
        color: #0056b3;
    }

    .library-description {
        direction: rtl;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #0056b3;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: max-content;

        p {
            margin-bottom: 10px;
            font-size: x-large;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .highlight {
            font-weight: bold;
            color: #0056b3;
        }

        .section-title {
            font-size: 1.2em;
            margin-bottom: 15px;
            color: #0056b3;
        }
    }
}